h1 {
    text-align: center;
    outline: auto;
    background-color: beige;

}

a {
    color: rgb(33, 16, 222);
}

.profspeak {
    color: darkslateblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}